include ../mixins/multilevel-menu.pug

header.header
  .container-fluid
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/")
            img(src="/images/logo.jfif", alt="Logo")
      .col-5
        form(
          action="/search"
          method="GET"
        ) 
          div(class="form-group d-flex mb-0")
            input(
              type="text"
              placeholder="Nhập từ khóa..."
              class="form-control"
              name="keyword"
              value=keyword
            )
            button(
              type="submit"
              class="btn btn-primary"
            ) Tìm kiếm

      .col-4 
        .inner-menu
          ul
            li
              a(href="/") Trang chủ
            li.sub-menu
              a(href="/product") Sản phẩm
                if (layoutProductsCategories)
                  +multilevel-menu(layoutProductsCategories, '/product')

            li.cart
              a.cart-icon(href="/cart")
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;">
                    <path d="M21.822 7.431A1 1 0 0 0 21 7H7.333L6.179 4.23A1.994 1.994 0 0 0 4.333 3H2v2h2.333l4.744 11.385A1 1 0 0 0 10 17h8c.417 0 .79-.259.937-.648l3-8a1 1 0 0 0-.115-.921zM17.307 15h-6.64l-2.5-6h11.39l-2.25 6z">
                    </path>
                <circle cx="10.5" cy="19.5" r="1.5"></circle><circle cx="17.5" cy="19.5" r="1.5"></circle></svg>
                if miniCart
                  span.total-quantity #{miniCart.totalQuantity}
