extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/tree-table.pug

block main
    h1(class="mb-4") Danh mục sản phẩm

    +alert-error(5000)
    +alert-success(5000)

    .card.mb-3
      .card-header Danh sách
      .card-body
        .row
          .col-8
          .col-4.text-end
            a(
            href=`/${prefixAdmin}/product-category/create`
            class="btn btn-outline-success mb-20"
            ) + Thêm mới

        table(
          class="table table-hover table-sm"
        )
          thead
            tr(class="mid-pos")
              th STT 
              th Hình ảnh
              th Tiêu đề
              th Vị trí
              th Trạng thái
              th Hành động 

            tbody
              +tree-table(records)

            form(
              id='form-change-status'
              method='POST'
              action=''
              data-path=`/${adminPrefix}/products-category/change-status`
            )

            form(
              id='form-delete-item'
              method='POST'
              action=''
              data-path=`/${adminPrefix}/products-category/delete`
            )
