extends ../../layouts/default.pug

block main
  if role.permissions.includes('roles__edit')
    h1(class='mb-4') Chỉnh sửa nhóm phân quyền
    
    form(
      action=`/${prefixAdmin}/roles/edit/${record.id}?_method=PATCH`
      method='POST'
    )
      div(class='form-group')
        lable(for='title'
          class='text-capitalize form-label'
        ) Tiêu đề
        input(
          type='text'
          class='form-control mt-2'
          id='title'
          name='title'
          value=record.title
          require
        )

      div(class='form-group mt-2')
        lable(for='description'
          class='text-capitalize form-label'
        ) mô tả
        input(
          type='text'
          class='form-control mt-2'
          id='description'
          name='description'
          value=record.description
          require
        )

      div(class='form-group mt-2 d-flex')
        button(
          type='submit'
          class='btn btn-outline-primary text-capitalize ms-auto w-25'
        ) Chỉnh sửa
  else 
        div(class='mt-20')
            h4 Account does not have permission to view this page
            i Contact 
            strong administrator
            i  to add permissions to your account      


