extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug

block main
  if role.permissions.includes('roles__view')
    +alert-success(5000)
    +alert-error(4000)

    h1(class="mb-4") Nhóm quyền
        
    .card.mb-3 
        .card-header Danh sách
        .card-body
            .row(class='d-flex')
                .col-9
                    //- +form-change-multi(`/${prefixAdmin}/product/change-multi?_method=PATCH`)
                .col-3
                  if role.permissions.includes('roles__create')
                    a(
                        href=`/${prefixAdmin}/roles/create`
                        class="btn btn-outline-success ms-auto w-75"
                    ) + Thêm mới
            table(
                class="table table-hover table-sm"
                multi-checkbox
            )
                thead
                    tr
                        th 
                            input(
                                type="checkbox"
                                name="checkall"
                            )
                        th STT
                        th Nhóm Quyền
                        th Mô tả ngắn
                        th Hành động
                tbody
                    if(group.length)
                        each item, index in group 
                            tr
                                td 
                                    input(
                                        type="checkbox"
                                        name="id"
                                        value=item.id
                                    )
                                td #{index + 1} 
                                td #{item.title} 
                                td #{item.description}
                                td
                                
                                  a(
                                      href=`/${prefixAdmin}/product/details/${item.id}`
                                      class="btn btn-secondary btn-sm me-1"
                                  ) Chi tiết
                                  if role.permissions.includes('roles__edit')
                                    a(
                                        href=`/${prefixAdmin}/roles/edit/${item.id}`
                                        class="btn btn-warning btn-sm"
                                    ) Sửa
                                  if role.permissions.includes('roles__delete')
                                    button(
                                        class="btn btn-danger btn-sm ms-1"
                                        delete-button
                                        data-id=item.id
                                    ) Xóa
                    else 
                        tr 
                            td(
                                colspan="8"
                            ) 
                                div(
                                    class="text-center"
                                ) Chưa có nhóm phân quyền nào được tạo.
               
    form(
        id='form-change-status'
        action=""
        data-path=`/${prefixAdmin}/product/change-status`
        method="POST"
    )

    form(
        id='form-delete-item'
        action=`/${prefixAdmin}/roles/delete?_method=PATCH`
        method="POST"
        data-path=`/${prefixAdmin}/roles/delete`
        enctype="multipart/form-data"
    )
    //- +pagination(paginationObject)
  else 
      div(class='mt-20')
          h4 Account does not have permission to view this page
          i Contact 
          strong administrator
          i  to add permissions to your account   
