.sider
  .inner-menu
    ul(class='sidebar-list')
      li(class='sidebar-item')
        a(href=`/${prefixAdmin}/dashboard`) Tổng quan
      li(class='sidebar-item')
        p(class='sidebar-item__group') Sản phẩm
        a(href=`/${prefixAdmin}/product`) Sản phẩm
      li(class='sidebar-item')
        a(href=`/${prefixAdmin}/product-category/`) Danh mục sản phẩm
      li(class='sidebar-item')
        p(class='sidebar-item__group') Quyền
        a(href=`/${prefixAdmin}/roles/`) Nhóm quyền
      li(class='sidebar-item')
<<<<<<< HEAD
        a(href=`/${prefixAdmin}/roles/permissions`) Phân quyền  
      li(class='sidebar-item')
        p(class='sidebar-item__group') Tài khoản
        a(href=`/${prefixAdmin}/accounts/`) Tài khoản
=======
        a(href=`/${prefixAdmin}/roles/permissions`) Phân quyền
>>>>>>> fe9dd8d9a207aa018a2c904a420e83825597c17b
