body#body-pd
  .l-navbar#nav-bar
    nav.nav
      div
        a.nav_logo(href=`/${prefixAdmin}/product`)
          i.bx.bx-layer.nav_logo-icon
          span.nav_logo-name Admin
        .nav_list
          a.nav_link.active(href=`/${prefixAdmin}/dashboard`)
            i.bx.bx-grid-alt.nav_icon
            span.nav_name Dashboard
          if role.permissions.includes('products__view')
            a.nav_link(href=`/${prefixAdmin}/product`)
              i.bx.bx-folder.nav_icon
              span.nav_name Sản phẩm
          if role.permissions.includes('products-ct__view')
            a.nav_link(href=`/${prefixAdmin}/product-category`)
              i.bx.bx-category.nav_icon
              span.nav_name Danh mục
          if role.permissions.includes('roles__view')
            a.nav_link(href=`/${prefixAdmin}/roles/`)
              i.bx.bx-message-square-detail.nav_icon
              span.nav_name Nhóm quyền
          if role.permissions.includes('roles__permissions')
            a.nav_link(href=`/${prefixAdmin}/roles/permissions`)
              i.bx.bx-shield-minus.nav_icon
              span.nav_name Phân quyền
          if role.permissions.includes('accounts__view')
            a.nav_link(href=`/${prefixAdmin}/accounts`)
              i.bx.bx-user.nav_icon
              span.nav_name Tài khoản
        a.nav_link(href="#")
          i.bx.bx-log-out.nav_icon
          span.nav_name SignOut
