.sider.mt-0
  .inner-menu
    ul(class='sidebar-list')
      li(class='sidebar-item')
        a(href=`/${prefixAdmin}/dashboard`) Tổng quan
      p(class='sidebar-item__group') Sản phẩm

      if role.permissions.includes('products__view')
        li(class='sidebar-item')
          a(href=`/${prefixAdmin}/product`) Sản phẩm

      if role.permissions.includes('products-ct__view')
        li(class='sidebar-item')
          a(href=`/${prefixAdmin}/product-category/`) Danh mục
      if role.permissions.includes('roles__view') || role.permissions.includes('roles__permissions')
        p(class='sidebar-item__group') Quyền

      if role.permissions.includes('roles__view')
        li(class='sidebar-item')
          a(href=`/${prefixAdmin}/roles/`) Nhóm quyền

      if role.permissions.includes('roles__permissions')
        li(class='sidebar-item')
          a(href=`/${prefixAdmin}/roles/permissions`) Phân quyền  

      if role.permissions.includes('accounts__view')
        p(class='sidebar-item__group') Tài khoản
        li(class='sidebar-item')
          a(href=`/${prefixAdmin}/accounts/`) Tài khoản

